html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.navbar {
  background-image: linear-gradient(to right, #1a598e 0%, #174369 50%, #1b5a8e 100%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.navbar img {
  width: 220px;
}
.navbar .navbar-brand {
  margin-right: 3rem;
}
.navbar .nav-item ul {
  margin-top: 7px;
  margin-left: 40px;
}
.navbar .nav-item ul li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}
.navbar .nav-item ul li a {
  cursor: default;
}
.navbar .nav-item ul li a img {
  width: 20px;
  transition: all 0.2s;
}
.navbar .nav-item ul li a img:hover {
  transform: scale(1.2);
}
.navbar .nav-item ul li a #floatTip {
  position: absolute;
  display: none;
  border: 1px solid #1a598e;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 10px;
  color: #1a598e;
  background: #ffd400;
}
.navbar .nav-link {
  color: white;
  font-weight: 500;
  margin: 0 10px;
  transition: all 0.2s;
}
.navbar .nav-link:hover {
  color: #ffd400;
  box-shadow: 0px 2px 0px #ffc940;
}
@media (max-width: 1200px) {
  .navbar .nav-item ul {
    display: none;
  }
}
.centered {
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .nav-link {
    text-align: center;
  }
  .navbar .nav-link:hover {
    box-shadow: none;
  }
}
.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.animated-icon1 span {
  background: #ffd400;
}
.animated-icon1 span:nth-child(1) {
  top: 0px;
}
.animated-icon1 span:nth-child(2) {
  top: 10px;
}
.animated-icon1 span:nth-child(3) {
  top: 20px;
}
.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: #22262a;
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 15px;
  background-size: 200% auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-image: linear-gradient(to right, #ff7700 0%, #ffe514 50%, #ff7b00 100%);
  transition: all 0.5s;
}
#toTop:hover {
  text-decoration: none;
  color: #fff;
  background-position: right center;
}
.main {
  background: url(../images/main-bg-2.jpg) no-repeat left top white;
  background-attachment: relative;
  min-height: 667px;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.main .main-text h1 {
  padding-left: 10px;
  margin-top: 250px;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.main .main-text h1 span {
  color: #ffd400;
}
.main .main-text h5 {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 85px;
  font-weight: 600;
  font-size: 25px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.main .main-text .next-btn {
  border: 1px solid #ffd400;
  margin-left: 10px;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: #212529;
  border-radius: 50px;
  padding: 15px 35px;
  background-size: 200% auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-image: linear-gradient(to right, #ff7700 0%, #ffe514 50%, #ff7b00 100%);
  transition: all 0.5s;
}
.main .main-text .next-btn:hover {
  text-decoration: none;
  color: #fff;
  background-position: right center;
}
.bold {
  font-weight: 600;
}
.store {
  padding-top: 105px;
  color: #212529;
  background-color: #edf2f7;
}
.store h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.store h3 span {
  color: #ffd400;
}
.store h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.store h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.store a {
  color: #212529;
  transition: all 0.2s;
}
.store a:hover {
  color: #ffd400;
  text-decoration: none;
}
.store .store-img {
  width: 100%;
}
.decisions {
  color: #212529;
}
.decisions h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.decisions h3 span {
  color: #ffd400;
}
.decisions .about-img {
  width: 100%;
  box-shadow: 30px 30px 0px #E8EFF6;
}
.decisions h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.decisions h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.decisions .packs img {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #21252933;
  box-shadow: 50px 50px 0px #E8EFF6;
}
.decisions .packs .packs-text {
  color: #212529;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.2s;
  text-transform: uppercase;
}
.decisions .packs .packs-text:hover {
  color: #ffd400;
  text-decoration: none;
}
.brands {
  color: #212529;
}
.brands h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.brands h3 span {
  color: #ffd400;
}
.brands h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.brands h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.brands .brands-logos img {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #21252933;
  box-shadow: 50px 50px 0px #E8EFF6;
}
.team {
  padding-top: 105px;
  color: #212529;
  background-color: #edf2f7;
}
.team h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.team h3 span {
  color: #ffd400;
}
.team h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.team h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.team .team-img {
  width: 100%;
}
.our-projects {
  padding-top: 105px;
  color: #212529;
  background-color: #edf2f7;
}
.our-projects h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.our-projects h3 span {
  color: #ffd400;
}
.our-projects h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.our-projects h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.our-projects .projects-img {
  width: 100%;
}
.green {
  padding-top: 105px;
  color: #212529;
  background-color: #edf2f7;
}
.green h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.green h3 span {
  color: #ffd400;
}
.green h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.green h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.green .green-img {
  width: 100%;
}
.green a {
  color: #1a598e;
  transition: all 0.2s;
}
.green a:hover {
  color: #ffd400;
  text-decoration: none;
}
.economics h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.economics h3 span {
  color: #ffd400;
}
.economics h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.economics h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.economics .variants span {
  padding-left: 10px;
}
.economics .stages .working-img {
  width: 50%;
  padding: 20px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #21252933;
  box-shadow: 50px 50px 0px #E8EFF6;
}
.economics .stages p {
  font-weight: 500;
}
.economics .stages span {
  color: #ffd400;
  font-size: 25px;
  font-weight: 800;
  margin-right: 10px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.contacts {
  padding-top: 105px;
  color: #212529;
  background-color: #edf2f7;
}
.contacts h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.contacts h3 span {
  color: #ffd400;
}
.contacts h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.contacts h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.contacts .contacts-img {
  width: 100%;
}
.contacts a {
  color: #212529;
  transition: all 0.2s;
}
.contacts a:hover {
  color: #ffd400;
  text-decoration: none;
}
.map h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.map h3 span {
  color: #ffd400;
}
.map h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.map h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.ntmy h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.ntmy h3 span {
  color: #ffd400;
}
.ntmy h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.ntmy h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.ntmy .peoples img {
  width: 100%;
  box-shadow: 30px 30px 0px #E8EFF6;
  margin-bottom: 15px;
}
.working {
  background-color: #edf2f7;
}
.working h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.working h3 span {
  color: #ffd400;
}
.working .about-img {
  width: 100%;
  box-shadow: 30px 30px 0px #E8EFF6;
}
.working h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.working h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.working img {
  width: 100%;
}
.items {
  color: #212529;
}
.items h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.items h3 span {
  color: #ffd400;
}
.items .about-img {
  width: 100%;
  box-shadow: 30px 30px 0px #E8EFF6;
}
.items h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.items h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.about {
  border-top: 55px solid transparent;
  margin-top: -55px;
  color: #212529;
}
.about h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.about h3 span {
  color: #ffd400;
}
.about .about-img {
  width: 100%;
  box-shadow: 30px 30px 0px #E8EFF6;
}
.about h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.about h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.services {
  color: #212529;
}
.services h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.services h3 span {
  color: #ffd400;
}
.services h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.services h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.services .our-services img {
  height: 120px;
  padding: 20px;
  border: 1px solid #21252933;
  box-shadow: 50px 50px 0px #E8EFF6;
}
.services .our-services .our-services-text {
  font-size: 17px;
}
.solar {
  color: #212529;
}
.solar h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.solar h3 span {
  color: #ffd400;
}
.solar h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.solar h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.solar .solar-map img {
  width: 100%;
}
.solar ul {
  margin-left: -20px;
}
.solar ul img {
  height: 25px;
  padding-right: 10px;
}
.solar ul li {
  list-style: none;
  padding-bottom: 5px;
}
.solar .solar-btn {
  border: 1px solid #ffd400;
  margin-left: 10px;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: #212529;
  border-radius: 50px;
  padding: 15px 35px;
  background-size: 200% auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-image: linear-gradient(to right, #ff7700 0%, #ffe514 50%, #ff7b00 100%);
  transition: all 0.5s;
}
.solar .solar-btn:hover {
  text-decoration: none;
  color: #fff;
  background-position: right center;
}
.gallery {
  color: #212529;
}
.gallery h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.gallery h3 span {
  color: #ffd400;
}
.gallery h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.gallery h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.gallery .works img {
  width: 100%;
  box-shadow: 30px 30px 0px #E8EFF6;
}
.news {
  color: #212529;
}
.news h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.news h3 span {
  color: #ffd400;
}
.news h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.news h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.news img {
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 30px 30px 0px #E8EFF6;
}
.news .articles a {
  color: #212529;
  font-weight: 600;
  transition: all 0.2s;
}
.news .articles a:hover {
  color: #ffd400;
  text-decoration: none;
}
.news .articles a::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 25%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.news .articles a::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 25%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.news .news-btn {
  border: 1px solid #ffd400;
  margin-left: 10px;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: #212529;
  border-radius: 50px;
  padding: 15px 35px;
  background-size: 200% auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-image: linear-gradient(to right, #ff7700 0%, #ffe514 50%, #ff7b00 100%);
  transition: all 0.5s;
}
.news .news-btn:hover {
  text-decoration: none;
  color: #fff;
  background-position: right center;
}
.energo-news {
  padding-top: 105px;
  color: #212529;
  background-color: #edf2f7;
}
.energo-news h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.energo-news h3 span {
  color: #ffd400;
}
.energo-news h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.energo-news h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.energo-news .energo-news-img {
  width: 100%;
}
.energo-articles {
  color: #212529;
}
.energo-articles h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.energo-articles h3 span {
  color: #ffd400;
}
.energo-articles h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.energo-articles h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.energo-articles .articles a {
  color: #212529;
  font-weight: 600;
  transition: all 0.2s;
}
.energo-articles .articles a:hover {
  color: #ffd400;
  text-decoration: none;
}
.energo-articles .articles a::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.energo-articles .articles a::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.energo-articles .articles img {
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 30px 30px 0px #E8EFF6;
}
.testimonials {
  color: #212529;
}
.testimonials h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.testimonials h3 span {
  color: #ffd400;
}
.testimonials h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.testimonials h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 30%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.testimonials .person-testimonial img {
  margin-bottom: 15px;
  height: 120px;
  padding: 20px;
  border: 1px solid #21252933;
  box-shadow: 50px 50px 0px #E8EFF6;
}
.testimonials .person-testimonial h4 {
  height: 60px;
}
.consultation {
  border-top: 55px solid transparent;
  margin-top: -55px;
}
.consultation h3 {
  font-weight: 800;
  font-size: 45px;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);
}
.consultation h3 span {
  color: #ffd400;
}
.consultation h3::before {
  content: "";
  display: inline-block;
  height: .35em;
  width: 15%;
  margin-right: 20px;
  border-top: 1px solid #ffd400;
}
.consultation h3::after {
  content: "";
  display: inline-block;
  height: .35em;
  width: 20%;
  margin-left: 20px;
  border-top: 1px solid #1a598e;
}
.consultation .form-group {
  width: 400px;
}
.consultation .form-group label {
  margin-top: 15px;
}
.consultation .form-group .form-control {
  height: 70px;
  border-radius: 50px;
  background-color: #b7cade40;
  text-align: center;
}
.consultation .form-group ::-webkit-input-placeholder {
  text-align: center;
}
.consultation .form-group :-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
.consultation .form-group ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
.consultation .form-group :-ms-input-placeholder {
  text-align: center;
}
.consultation .send-btn {
  border: 1px solid #ffd400;
  margin-left: 10px;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: #212529;
  border-radius: 50px;
  padding: 15px 35px;
  background-size: 200% auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-image: linear-gradient(to right, #ff7700 0%, #ffe514 50%, #ff7b00 100%);
  transition: all 0.5s;
}
.consultation .send-btn:hover {
  text-decoration: none;
  color: #fff;
  background-position: right center;
}
@media (max-width: 480px) {
  h4 {
    font-size: 1rem;
  }
  .main .main-text h1 {
    margin-top: 110px;
  }
  .store h3,
  .decisions h3,
  .brands h3,
  .team h3,
  .our-projects h3,
  .green h3,
  .contacts h3,
  .economics h3,
  .map h3,
  .ntmy h3,
  .items h3,
  .about h3,
  .services h3,
  .solar h3,
  .gallery h3,
  .news h3,
  .testimonials h3,
  .consultation h3,
  .energo-news h3,
  .energo-articles .working h3 {
    font-size: 35px;
  }
  .energo-articles .articles p {
    font-size: 10px;
  }
  .consultation .form-group {
    max-width: 300px;
  }
  .navbar img {
    width: 170px;
  }
}
.righted {
  text-align: right;
}
.footer {
  background-image: linear-gradient(to right, #1a598e 0%, #174369 50%, #1b5a8e 100%);
  color: #fff;
}
.footer ul {
  margin-left: -20px;
}
.footer ul li {
  list-style: none;
  padding-bottom: 5px;
}
.footer ul a {
  color: #fff;
  transition: all 0.2s;
}
.footer ul a:hover {
  color: #ffd400;
  text-decoration: none;
}
.footer i {
  font-size: 20px;
  margin-right: 15px;
  color: #ffd400;
}
.footer img {
  width: 100%;
}
.footer .footer-logo img {
  width: 150px;
  margin-bottom: 15px;
}
