html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;


    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
 
.clearfix:after {
    
}
 
.clearfix {
    zoom: 1; /* ie 6/7 */
}

.navbar {
    background-color: #1a598e;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 

    img {
        width: 250px;
    }

    .navbar-brand {
        margin-right: 3rem;
    }

    .nav-item {
            ul {
                margin-top: 7px;
                margin-left: 40px;

                li {
                    list-style: none;
                    display: inline;
                    margin-right: 10px;

                    a {
                        img {
                            width: 20px;
                            transition: all 0.2s;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
    }

    .nav-link {
        color: white;
        font-weight: 500;
        transition: all 0.2s;

        &:hover {
            color: #ffd400;
            box-shadow: 0px 2px 0px rgb(255, 201, 64);
        }
    }
}
/*
@media (max-width: 1200px) {
    .navbar {
        .collapse {
            .nav-item {
                ul {
                    display: none;
                }
            }
        }
    }
} */

.centered {
    text-align: center;
}

@media (max-width: 992px) {
    .navbar {
        a {
            text-align: center;
    
            &:hover {
                box-shadow: 0;
            }
        }
    }
}

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
    
.animated-icon1 span {
    background: #ffd400;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}
    
.animated-icon1 span:nth-child(2) {
    top: 10px;
}
    
.animated-icon1 span:nth-child(3) {
    top: 20px;
}
    
.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
    
.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
    
.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.main {
    background: url(../images/main-bg.jpg) no-repeat left top white;
    background-attachment: relative;
    min-height: 667px;
    width: 100%;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    .main-text {
        h1 {
            padding-left: 10px;
            margin-top: 250px;
            font-size: 45px;
            font-weight: 800;
            text-transform: uppercase;
    
            span {
                color: #ffd400;
            }
        }
    
        h5 {
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 85px;
            font-size: 22px;
        }
    
        .next-btn {
            border: 1px solid #ffd400;
            margin-left: 10px;
            font-weight: 800;
            font-size: 20px;
            text-transform: uppercase;
            color: #212529;
            border-radius: 50px;
            padding: 15px 35px;
            background-size: 200% auto;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);     
            background-image: linear-gradient(to right, #ff7700 0%, #ffe514 50%, #ff7b00 100%);
            transition: all 0.5s;
    
            &:hover {
                text-decoration: none;
                color: #fff;
                background-position: right center;
            }
    
        }
    }
}

.bold {
    font-weight: 600;
}

.about {
    border-top: 1px solid #f4f4f4;
    color: #212529;

    h3 {
        font-weight: 800;
        font-size: 45px;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);

        span {
            color: #ffd400;
        }
    }

    .about-img {
        width: 100%;
        box-shadow: 30px 30px 0px #E8EFF6;
    }

    h3::before {
        content: "";
        display: inline-block;
        height: .35em;
        width: 15%;
        margin-right: 20px;
        border-top: 1px solid #ffd400;
    }

    h3::after {
        content: "";
        display: inline-block;
        height: .35em;
        width: 30%;
        margin-left: 20px;
        border-top: 1px solid #1a598e;
    }
}

.services {
    color: #212529;
    
    h3 {
        font-weight: 800;
        font-size: 45px;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);

        span {
            color: #ffd400;
        }
    }

    h3::before {
        content: "";
        display: inline-block;
        height: .35em;
        width: 15%;
        margin-right: 20px;
        border-top: 1px solid #ffd400;
    }

    h3::after {
        content: "";
        display: inline-block;
        height: .35em;
        width: 30%;
        margin-left: 20px;
        border-top: 1px solid #1a598e;
    }

    .our-services {
        img {
            height: 120px;
            padding: 20px;
            border: 1px solid #21252933;
            box-shadow: 50px 50px 0px #E8EFF6;
        }

        .our-services-text {
            font-size: 17px;
        }
    }
}

.solar {
    color: #212529;
    
    h3 {
        font-weight: 800;
        font-size: 45px;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);

        span {
            color: #ffd400;
        }
    }

    h3::before {
        content: "";
        display: inline-block;
        height: .35em;
        width: 15%;
        margin-right: 20px;
        border-top: 1px solid #ffd400;
    }

    h3::after {
        content: "";
        display: inline-block;
        height: .35em;
        width: 30%;
        margin-left: 20px;
        border-top: 1px solid #1a598e;
    }

    .solar-map {
        img {
            width: 100%;
        }
    }

    ul {
        margin-left: -20px;

        img {
            height: 25px;
            padding-right: 10px;
        }

        li {
            list-style: none;
            padding-bottom: 5px;
        }
    }

    .solar-btn {
        border: 1px solid #ffd400;
        margin-left: 10px;
        font-weight: 800;
        font-size: 20px;
        text-transform: uppercase;
        color: #212529;
        border-radius: 50px;
        padding: 15px 35px;
        background-size: 200% auto;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);     
        background-image: linear-gradient(to right, #ff7700 0%, #ffe514 50%, #ff7b00 100%);
        transition: all 0.5s;
    
        &:hover {
            text-decoration: none;
            color: #fff;
            background-position: right center;
        }
    }
}

.gallery {
    color: #212529;
    
    h3 {
        font-weight: 800;
        font-size: 45px;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);

        span {
            color: #ffd400;
        }
    }

    h3::before {
        content: "";
        display: inline-block;
        height: .35em;
        width: 15%;
        margin-right: 20px;
        border-top: 1px solid #ffd400;
    }

    h3::after {
        content: "";
        display: inline-block;
        height: .35em;
        width: 30%;
        margin-left: 20px;
        border-top: 1px solid #1a598e;
    }

    .works {
        img {
            width: 100%;
            box-shadow: 30px 30px 0px #E8EFF6;  
        }
    }
}

.news {
    color: #212529;
    
    h3 {
        font-weight: 800;
        font-size: 45px;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);

        span {
            color: #ffd400;
        }
    }

    h3::before {
        content: "";
        display: inline-block;
        height: .35em;
        width: 15%;
        margin-right: 20px;
        border-top: 1px solid #ffd400;
    }

    h3::after {
        content: "";
        display: inline-block;
        height: .35em;
        width: 30%;
        margin-left: 20px;
        border-top: 1px solid #1a598e;
    }

    img {
        width: 100%;
        margin-bottom: 15px;
        box-shadow: 30px 30px 0px #E8EFF6;
    }

    .articles {

        a {
            color: #212529;
            font-weight: 500;
            transition: all 0.2s;

            &:hover {
                color: #ffd400;
                text-decoration: none;
            }
        }

        a::before {
            content: "";
            display: inline-block;
            height: .35em;
            width: 30%;
            margin-right: 20px;
            border-top: 1px solid #ffd400;
        }

        a::after {
            content: "";
            display: inline-block;
            height: .35em;
            width: 30%;
            margin-left: 20px;
            border-top: 1px solid #1a598e;
        }
    }

    .news-btn {
        border: 1px solid #ffd400;
        margin-left: 10px;
        font-weight: 800;
        font-size: 20px;
        text-transform: uppercase;
        color: #212529;
        border-radius: 50px;
        padding: 15px 35px;
        background-size: 200% auto;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);     
        background-image: linear-gradient(to right, #ff7700 0%, #ffe514 50%, #ff7b00 100%);
        transition: all 0.5s;
    
        &:hover {
            text-decoration: none;
            color: #fff;
            background-position: right center;
        }
    }
}

.testimonials {
    color: #212529;
    
    h3 {
        font-weight: 800;
        font-size: 45px;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 10px 10px 5px rgba(0, 0, 0, 0.05), -10px 10px 5px rgba(0, 0, 0, 0.05);

        span {
            color: #ffd400;
        }
    }

    h3::before {
        content: "";
        display: inline-block;
        height: .35em;
        width: 15%;
        margin-right: 20px;
        border-top: 1px solid #ffd400;
    }

    h3::after {
        content: "";
        display: inline-block;
        height: .35em;
        width: 30%;
        margin-left: 20px;
        border-top: 1px solid #1a598e;
    }

    .person-testimonial {
        img {
            margin-bottom: 15px;
            height: 120px;
            padding: 20px;
            border: 1px solid #21252933;
            box-shadow: 50px 50px 0px #E8EFF6;
        }

        h4 {
            height: 60px;
        }
    }
}

.righted {
    text-align: right;
}

.footer {
    background: #1a598e;
    color: #fff;

    ul {
        margin-left: -20px;

        li {
            list-style: none;
            padding-bottom: 5px;
        }

        a {
            color: #fff;
            transition: all 0.2s;

            &:hover {
                color: #ffd400;
                text-decoration: none;
            }
        }
    }

    i {
        font-size: 20px;
        margin-right: 15px;
        color: #ffd400;
    }

    img {
        width: 100%;
    }

    .footer-logo {
        img {
            width: 150px;
            margin-bottom: 15px;
        }
    }
}